[submodule "frontend"]
	path = frontend
	url = https://github.com/briyoon/ECE551-Video-Seg-Frontend.git
[submodule "video_seg_frontend"]
	path = video_seg_frontend
	url = https://github.com/briyoon/ECE551-Video-Seg-Frontend.git
[submodule "video_seg_backend"]
	path = video_seg_backend
	url = git@github.com:briyoon/ECE551-Video-Seg-Backend.git
